VITE_PACKAGE_ID=0x9f6dd2d41950987cb4e9ad5ca36b124e0799a12ac60bbb10c16b034a936456ce
VITE_NETWORK=testnet
VITE_RPC_URL=https://fullnode.testnet.sui.io:443
VITE_DEEPBOOK_ADAPTER_ID=YOUR_DEEPBOOK_ADAPTER_ID_HERE